In [ ]:
!pip install seaborn

In [ ]:
# Let's import python libraries First

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt # visualizing data
%matplotlib inline
import seaborn as sns

In [ ]:
# import csv file
df = pd.read_csv(r'C:\Users\nandi\OneDrive\Desktop\python course\Sales_Data.csv', encoding= 'unicode_escape')

In [ ]:
#Check Number of rows and Columns
df.shape

In [ ]:
#To see the imported data
df.head(10)  # Show Top 5 Rows

In [ ]:
#Field details and Data type
df.info()

## Let's Start Data Cleaning

In [ ]:
#Deleting blank column
df.drop(['Zipcode'], axis=1, inplace=True)

In [ ]:
#List of Columns Available
df.columns

In [ ]:
#check for null values
pd.isnull(df).sum()

In [ ]:
# drop null values
df.dropna(how='all', inplace=True)

In [ ]:
df.shape

In [ ]:
#replace value of Gender Column
df['Gender'] = df['Gender'].replace('M', 'Male')

In [ ]:
#View only Male Gender data
df[df['Gender'] == 'Male']

## --> Now Let's Learn EDA - Exploratory Data Analysis

In [ ]:
# describe() method returns description of the data in the DataFrame (i.e. count, mean, std, etc)
df.describe()

In [ ]:
# use describe() for specific columns
df[['Age', 'Orders', 'Amount']].describe()

In [ ]:
ax=sns.countplot(x='Gender', data = df)
for bars in ax.containers:
    ax.bar_label(bars)
plt.show()

In [ ]:
# Total Transactions count by Gender Wise in Bar Chart
ax = sns.countplot(x = 'Gender', data = df)

# Set Title and Labels with Font Size
for bars in ax.containers:
    ax.bar_label(bars)
    ax.set_title('Gender Distribution', fontsize=24)   # Chart Title
    ax.set_xlabel('Gender', fontsize=24)               # X - Axis Label
    ax.set_ylabel('Count', fontsize=24)                # Y - Axis Label 
    ax.tick_params(axis='both', labelsize=16)          # Axis Parameters
plt.show()

In [ ]:
# 2 . Gender wise distribution in Pie Chart

In [ ]:
#Total Transactions Count by Gender wise
gender_counts = df['Gender'].value_counts()
print(gender_counts)

In [ ]:
#Total Transactions Count by Gender wise in Pie Chart
gender_counts = df['Gender'].value_counts()

plt.pie(
    gender_counts,                       # Data (counts)
    labels=gender_counts.index,          # Labels (e.g., Male, Female)
    autopct='%.2f%%',                    # Show percentages (2 decimal place)
    startangle=90,                       # Rotate for better orientation
)
# Add a title
plt.title('Gender Distribution', fontsize=14)
plt.show()

In [ ]:
df.groupby('Gender', as_index=False)['Amount'].sum()

In [ ]:
Gen_Wise_Sales = df.groupby('Gender', as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
print(Gen_Wise_Sales)

In [ ]:
# Gender wise Total Sales Amount

# Step 1: Group data by Gender and sum the Amount
Gen_Wise_Sales = df.groupby('Gender', as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

# Step 2: Create the bar plot
ax = sns.barplot(x='Gender', y='Amount', data=Gen_Wise_Sales)

# Step 3: Add data labels on top of bars
for bar in ax.containers:
    ax.bar_label(bar, fmt='%.0f', fontsize=16, color='red')  # Show counts as whole numbers
    
# Step 4: Add titles
plt.title('Gender-wise Total Sales Amount', fontsize=14)
plt.show()

Conclusion : Male sales are higher than female sales

### --> Age group wise total transactions

In [ ]:
#Age Group wise Transactions Count in Bar Chart
ax = sns.countplot(data = df, x = 'Age Group')

for bars in ax.containers:         #Show Data labels
    ax.bar_label(bars)
plt.show()

In [ ]:
#Step 1 - Age group wise transactions count (Sorting)

age_group_counts=df['Age Group'].value_counts().sort_values(ascending=False)

#Step 2 - Use Ordered categories for sorting in countplot
sns_order=age_group_counts.index

#Age Group wise Transactions Count in Bar Chart
ax = sns.countplot(data = df, x = 'Age Group', order=sns_order)

for bars in ax.containers:         #Show Data labels
    ax.bar_label(bars)
plt.show()

In [ ]:
#Age group and Gender wise Transactions distribution

ax = sns.countplot(data = df, x = 'Age Group', hue = 'Gender')

for bars in ax.containers:
    ax.bar_label(bars)
plt.show()

*From above graphs we can see that most of the buyers are of age group between 26-35 yrs female*

In [ ]:
#  Age Group wise Total Amount
sales_age = df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.barplot(x = 'Age Group',y= 'Amount' ,data = sales_age)

plt.show()

### --> State wise analysis

In [ ]:
order_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(5)
print(order_state)

In [ ]:
# Order wise Top 5 state
order_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(5)

#sns.set(rc={'figure.figsize':(15,5)})
ax = sns.barplot(data = order_state, x = 'State',y= 'Orders')

for bars in ax.containers:
    ax.bar_label(bars)
    
plt.show()

In [ ]:
# Amount Wise top 5 state 

sales_state = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(5)

sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(data = sales_state, x = 'State',y= 'Amount')
plt.show()

*From above graphs we can see that most of the orders & total sales/amount are from Uttar Pradesh, Maharashtra and Karnataka respectively*

### --> Product_Category Analysis

In [ ]:
# Product category wise Transactions count
ax = sns.countplot(data = df, x = 'Product_Category')

sns.set(rc={'figure.figsize':(7,5)})
for bars in ax.containers:
    ax.bar_label(bars)
plt.show()

In [ ]:
#Amount wise Product Category in Bar Chart
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(5)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_Category',y= 'Amount')

plt.show()

In [ ]:
#Product category and Gender wise Transactions count
sales_pro = df.groupby(['Product_Category', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(data = sales_pro, x = 'Product_Category',y= 'Amount', hue='Gender')

plt.show()

*From above graphs we can see that most of the buyers are Female

### --> Profession wise Analysis

In [ ]:
# Profession wise Transactions count

ax = sns.countplot(data = df, x = 'Profession')
for bars in ax.containers:
    ax.bar_label(bars)
plt.show()

In [ ]:
# Amount Wise Top Professions
sales_state = df.groupby(['Profession'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(3)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Profession',y= 'Amount')
plt.show()

*From above graphs we can see that most of the buyers are working in IT, Healthcare and Aviation sector*

In [ ]:
#Order wise Top 10 Product 
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)

sns.set(rc={'figure.figsize':(20,5)})
sns.barplot(data = sales_state, x = 'Product_ID',y= 'Orders')
plt.show()

## Conclusion:

### *Female age group 26-35 yrs from UP,  Maharastra and Karnataka working in IT, Healthcare and Aviation are more likely to buy products from Beauty, Sports and Electronics*